
<!DOCTYPE html>

<html lang="en-us" >
<head>
<title>Site administration | Django site admin</title>
<link rel="stylesheet" type="text/css" href="https://nodastorage.s3.amazonaws.com/static/admin/css/base.css">
<link rel="stylesheet" type="text/css" href="https://nodastorage.s3.amazonaws.com/static/admin/css/dashboard.css">



    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://nodastorage.s3.amazonaws.com/static/admin/css/responsive.css">
    

<meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class=" dashboard"
  data-admin-utc-offset="-28800">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/admin/">THIS IS A TEST</a></h1>

        </div>
        
        
        <div id="user-tools">
            
                Welcome,
                <strong>Philippe</strong>.
            
            
                
                    <a href="/">View site</a> /
                
                
                    
                    
                
                
                <a href="/admin/password_change/">Change password</a> /
                
                <a href="/admin/logout/">Log out</a>
            
        </div>
        
        
        
    </div>
    <!-- END Header -->
    
    

    
        
    

    <!-- Content -->
    <div id="content" class="colMS">
        
        <h1>Site administration</h1>
        
<div id="content-main">


    
        <div class="app-auth module">
        <table>
        <caption>
            <a href="/admin/auth/" class="section" title="Models in the Authentication and Authorization application">Authentication and Authorization</a>
        </caption>
        
            <tr class="model-group">
            
                <th scope="row"><a href="/admin/auth/group/">Groups</a></th>
            

            
                <td><a href="/admin/auth/group/add/" class="addlink">Add</a></td>
            

            
                
                <td><a href="/admin/auth/group/" class="changelink">Change</a></td>
                
            
            </tr>
        
            <tr class="model-user">
            
                <th scope="row"><a href="/admin/auth/user/">Users</a></th>
            

            
                <td><a href="/admin/auth/user/add/" class="addlink">Add</a></td>
            

            
                
                <td><a href="/admin/auth/user/" class="changelink">Change</a></td>
                
            
            </tr>
        
        </table>
        </div>
    
        <div class="app-nodanews module">
        <table>
        <caption>
            <a href="/admin/nodanews/" class="section" title="Models in the Nodanews application">Nodanews</a>
        </caption>
        
            <tr class="model-about">
            
                <th scope="row"><a href="/admin/nodanews/about/">Abouts</a></th>
            

            
                <td><a href="/admin/nodanews/about/add/" class="addlink">Add</a></td>
            

            
                
                <td><a href="/admin/nodanews/about/" class="changelink">Change</a></td>
                
            
            </tr>
        
            <tr class="model-anallink">
            
                <th scope="row"><a href="/admin/nodanews/anallink/">Anal links</a></th>
            

            
                <td><a href="/admin/nodanews/anallink/add/" class="addlink">Add</a></td>
            

            
                
                <td><a href="/admin/nodanews/anallink/" class="changelink">Change</a></td>
                
            
            </tr>
        
            <tr class="model-analperspective">
            
                <th scope="row"><a href="/admin/nodanews/analperspective/">Anal perspectives</a></th>
            

            
                <td><a href="/admin/nodanews/analperspective/add/" class="addlink">Add</a></td>
            

            
                
                <td><a href="/admin/nodanews/analperspective/" class="changelink">Change</a></td>
                
            
            </tr>
        
            <tr class="model-analysis">
            
                <th scope="row"><a href="/admin/nodanews/analysis/">Analysiss</a></th>
            

            
                <td><a href="/admin/nodanews/analysis/add/" class="addlink">Add</a></td>
            

            
                
                <td><a href="/admin/nodanews/analysis/" class="changelink">Change</a></td>
                
            
            </tr>
        
            <tr class="model-blog">
            
                <th scope="row"><a href="/admin/nodanews/blog/">Blogs</a></th>
            

            
                <td><a href="/admin/nodanews/blog/add/" class="addlink">Add</a></td>
            

            
                
                <td><a href="/admin/nodanews/blog/" class="changelink">Change</a></td>
                
            
            </tr>
        
            <tr class="model-event">
            
                <th scope="row"><a href="/admin/nodanews/event/">Events</a></th>
            

            
                <td><a href="/admin/nodanews/event/add/" class="addlink">Add</a></td>
            

            
                
                <td><a href="/admin/nodanews/event/" class="changelink">Change</a></td>
                
            
            </tr>
        
            <tr class="model-feature_link">
            
                <th scope="row"><a href="/admin/nodanews/feature_link/">Feature_ links</a></th>
            

            
                <td><a href="/admin/nodanews/feature_link/add/" class="addlink">Add</a></td>
            

            
                
                <td><a href="/admin/nodanews/feature_link/" class="changelink">Change</a></td>
                
            
            </tr>
        
            <tr class="model-feature">
            
                <th scope="row"><a href="/admin/nodanews/feature/">Features</a></th>
            

            
                <td><a href="/admin/nodanews/feature/add/" class="addlink">Add</a></td>
            

            
                
                <td><a href="/admin/nodanews/feature/" class="changelink">Change</a></td>
                
            
            </tr>
        
            <tr class="model-journalist">
            
                <th scope="row"><a href="/admin/nodanews/journalist/">Journalists</a></th>
            

            
                <td><a href="/admin/nodanews/journalist/add/" class="addlink">Add</a></td>
            

            
                
                <td><a href="/admin/nodanews/journalist/" class="changelink">Change</a></td>
                
            
            </tr>
        
            <tr class="model-link">
            
                <th scope="row"><a href="/admin/nodanews/link/">Links</a></th>
            

            
                <td><a href="/admin/nodanews/link/add/" class="addlink">Add</a></td>
            

            
                
                <td><a href="/admin/nodanews/link/" class="changelink">Change</a></td>
                
            
            </tr>
        
            <tr class="model-media_character">
            
                <th scope="row"><a href="/admin/nodanews/media_character/">Media_ characters</a></th>
            

            
                <td><a href="/admin/nodanews/media_character/add/" class="addlink">Add</a></td>
            

            
                
                <td><a href="/admin/nodanews/media_character/" class="changelink">Change</a></td>
                
            
            </tr>
        
            <tr class="model-media_org">
            
                <th scope="row"><a href="/admin/nodanews/media_org/">Media_ orgs</a></th>
            

            
                <td><a href="/admin/nodanews/media_org/add/" class="addlink">Add</a></td>
            

            
                
                <td><a href="/admin/nodanews/media_org/" class="changelink">Change</a></td>
                
            
            </tr>
        
            <tr class="model-node_dir">
            
                <th scope="row"><a href="/admin/nodanews/node_dir/">Node_ dirs</a></th>
            

            
                <td><a href="/admin/nodanews/node_dir/add/" class="addlink">Add</a></td>
            

            
                
                <td><a href="/admin/nodanews/node_dir/" class="changelink">Change</a></td>
                
            
            </tr>
        
            <tr class="model-node">
            
                <th scope="row"><a href="/admin/nodanews/node/">Nodes</a></th>
            

            
                <td><a href="/admin/nodanews/node/add/" class="addlink">Add</a></td>
            

            
                
                <td><a href="/admin/nodanews/node/" class="changelink">Change</a></td>
                
            
            </tr>
        
            <tr class="model-perspective">
            
                <th scope="row"><a href="/admin/nodanews/perspective/">Perspectives</a></th>
            

            
                <td><a href="/admin/nodanews/perspective/add/" class="addlink">Add</a></td>
            

            
                
                <td><a href="/admin/nodanews/perspective/" class="changelink">Change</a></td>
                
            
            </tr>
        
            <tr class="model-politicalbiasnews">
            
                <th scope="row"><a href="/admin/nodanews/politicalbiasnews/">Political bias newss</a></th>
            

            
                <td><a href="/admin/nodanews/politicalbiasnews/add/" class="addlink">Add</a></td>
            

            
                
                <td><a href="/admin/nodanews/politicalbiasnews/" class="changelink">Change</a></td>
                
            
            </tr>
        
            <tr class="model-politicalissue">
            
                <th scope="row"><a href="/admin/nodanews/politicalissue/">Political issues</a></th>
            

            
                <td><a href="/admin/nodanews/politicalissue/add/" class="addlink">Add</a></td>
            

            
                
                <td><a href="/admin/nodanews/politicalissue/" class="changelink">Change</a></td>
                
            
            </tr>
        
            <tr class="model-political_lean">
            
                <th scope="row"><a href="/admin/nodanews/political_lean/">Political_ leans</a></th>
            

            
                <td><a href="/admin/nodanews/political_lean/add/" class="addlink">Add</a></td>
            

            
                
                <td><a href="/admin/nodanews/political_lean/" class="changelink">Change</a></td>
                
            
            </tr>
        
            <tr class="model-region">
            
                <th scope="row"><a href="/admin/nodanews/region/">Regions</a></th>
            

            
                <td><a href="/admin/nodanews/region/add/" class="addlink">Add</a></td>
            

            
                
                <td><a href="/admin/nodanews/region/" class="changelink">Change</a></td>
                
            
            </tr>
        
            <tr class="model-report_link">
            
                <th scope="row"><a href="/admin/nodanews/report_link/">Report_ links</a></th>
            

            
                <td><a href="/admin/nodanews/report_link/add/" class="addlink">Add</a></td>
            

            
                
                <td><a href="/admin/nodanews/report_link/" class="changelink">Change</a></td>
                
            
            </tr>
        
            <tr class="model-stf_hub">
            
                <th scope="row"><a href="/admin/nodanews/stf_hub/">St f_ hubs</a></th>
            

            
                <td><a href="/admin/nodanews/stf_hub/add/" class="addlink">Add</a></td>
            

            
                
                <td><a href="/admin/nodanews/stf_hub/" class="changelink">Change</a></td>
                
            
            </tr>
        
            <tr class="model-stf_link">
            
                <th scope="row"><a href="/admin/nodanews/stf_link/">St f_ links</a></th>
            

            
                <td><a href="/admin/nodanews/stf_link/add/" class="addlink">Add</a></td>
            

            
                
                <td><a href="/admin/nodanews/stf_link/" class="changelink">Change</a></td>
                
            
            </tr>
        
            <tr class="model-stf">
            
                <th scope="row"><a href="/admin/nodanews/stf/">Stfs</a></th>
            

            
                <td><a href="/admin/nodanews/stf/add/" class="addlink">Add</a></td>
            

            
                
                <td><a href="/admin/nodanews/stf/" class="changelink">Change</a></td>
                
            
            </tr>
        
            <tr class="model-theme">
            
                <th scope="row"><a href="/admin/nodanews/theme/">Themes</a></th>
            

            
                <td><a href="/admin/nodanews/theme/add/" class="addlink">Add</a></td>
            

            
                
                <td><a href="/admin/nodanews/theme/" class="changelink">Change</a></td>
                
            
            </tr>
        
            <tr class="model-topic_link">
            
                <th scope="row"><a href="/admin/nodanews/topic_link/">Topic_ links</a></th>
            

            
                <td><a href="/admin/nodanews/topic_link/add/" class="addlink">Add</a></td>
            

            
                
                <td><a href="/admin/nodanews/topic_link/" class="changelink">Change</a></td>
                
            
            </tr>
        
        </table>
        </div>
    

</div>

        
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>Recent actions</h2>
        <h3>My actions</h3>
            
            
            
            <ul class="actionlist">
            
            <li class="addlink">
                
                    <a href="/admin/nodanews/event/1/change/">This is a Test This is a Test This is a Test This is a Test</a>
                
                <br>
                
                    <span class="mini quiet">Event</span>
                
            </li>
            
            <li class="addlink">
                
                    <a href="/admin/nodanews/theme/1/change/">General</a>
                
                <br>
                
                    <span class="mini quiet">Theme</span>
                
            </li>
            
            </ul>
            
    </div>
</div>

        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
