<!doctype html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109012884-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109012884-1');
</script>
	
<meta charset="utf-8">
<title>NodaNews {{front.date}}</title>
{% load static  %}
<link rel="image_src" href="{% static 'NN-FB-Pro_pic.png' %}"/> 
<link href="{% static 'css_style_sheets/front.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css_style_sheets/navi.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'favicon.ico' %}" rel='shortcut icon'>
<meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
<div id="fb-root"></div>

  <header>
  	    		<form method="get" action="https://www.google.com/search">
			<input type="hidden" name="sitesearch" value="www.nodanews.com" />
			<input type="text" size="15" name="q" placeholder="Search" />
			<button type="submit"></button>
		</form>
    <nav>
      <a href="http://www.nodanews.com"><img src="{% static 'images/elements/nn_logo_horizontal.svg' %}" alt="" id="logo"></a>
          <img src="{% static 'images/elements/Hamburger_icon.svg.png' %}" alt="" id="burger">
        <ul id='nav-list'>
          <li class='nav-list-item'> <a href="http://www.nodanews.com/media-org-directory">Media Org. Directory</a></li>
          <li class='nav-list-item'><a href="http://www.nodanews.com/archives">Archives</a></li> 
          <li class='nav-list-item'><a href="http://www.nodanews.com/about">About Noda News</a></li>
        </ul>

  	</nav>
  </header>

<div id="main">
	<p id='date'>The News from {{front.slug}}</p>
	
	{% if front.featureQ %}
		<div id='feature'>	
			<a href='{{front.url}}' style="text-decoration: none;color: black" target="_blank"><h1 id='feature-headline'>{{front.feature_headline}}</h1></a>
			<img src="https://nodastorage.s3.amazonaws.com/media/{{front.feature_pic}}" class="feature-image" alt=""/>
			<p id='feature-credit'>{{front.feature_pic_credit}}</p>
		</div>
	{% endif %}
	<div id='mid-section'>
		<div class='mid-column'>
			{% for left in lefts %}
			<a href='https://www.nodanews.com/event/{{left.id}}/{{left.slug}}/' class='anchor-tag'>
				{% if left.displayQ %}
					<img src="https://nodastorage.s3.amazonaws.com/media/{{left.image1}}" class="mid-section-image" alt=""/>
					<p id='mid-section-image-credit'>{{left.credit1}}</p>				
				{% endif %}
				<p class='mid-headline'>{{left.headline}}</p>
			</a>
				<p class='mid-section-text'>{{left.body}}</p>
					<div class='mid-section-link-lists-div'>
						<ul class='mid-section-link-lists'>
							{% for blog in left_blogs|get_item:left %}
								<a href='https://www.nodanews.com/blog/{{blog.id}}/{{blog.slug}}/' class='mid-section-links'>
									<li class='mid-section-list-items'>{{blog.headline}}</li>
								</a>
							{% endfor %}
						</ul>
					</div>
					<div class='mid-section-link-lists-div'>
						<ul class='mid-section-link-lists'>
							{% for report_link in left_links|get_item:left %}
								<a href='{{report_link.url}}' class='mid-section-links'>
									<li class='mid-section-list-items'>{{report_link.title}}</li>
								</a>
							{% endfor %}
						</ul>
					</div>					
				<hr class='mid-section-hr'>
			{% endfor %}
		</div>
		<div class='mid-column'>
			{% for middle in middles %}
			<a href='https://www.nodanews.com/event/{{middle.id}}/{{middle.slug}}/' class='anchor-tag'>
				{% if middle.displayQ %}
					<img src="https://nodastorage.s3.amazonaws.com/media/{{middle.image1}}" class="mid-section-image" alt=""/>
					<p id='mid-section-image-credit'>{{middle.credit1}}</p>				
				{% endif %}
				<p class='mid-headline'>{{middle.headline}}</p>
			</a>
				<p class='mid-section-text'>{{middle.body}}</p>
				<hr class='mid-section-hr'>
			{% endfor %}
		</div>		
		<div class='mid-column'>
			{% for right in rights %}
			<a href='https://www.nodanews.com/event/{{right.id}}/{{right.slug}}/' class='anchor-tag'>
				{% if right.displayQ %}
					<img src="https://nodastorage.s3.amazonaws.com/media/{{right.image1}}" class="mid-section-image" alt=""/>
					<p id='mid-section-image-credit'>{{right.credit1}}</p>				
				{% endif %}
				<p class='mid-headline'>{{right.headline}}</p>
			</a>
				<p class='mid-section-text'>{{right.body}}</p>
				<hr class='mid-section-hr'>
			{% endfor %}
		</div>		
	</div>
	<div id='bottom-section'>
		<div class='bottom-column'>
			<p class='bottom-section-heading'>Headlines From Around the World</p>
				<ul class='bottom-link-list'>
					{% for major in majors %}
						<li>
							<a href='{{major.url}}' class='anchor-tag'>
								<p class='major-headline'>{{major.title}}</p>
							</a>
							<a href='http://www.nodanews.com/media_dir/{{major.media.id}}/{{major.media.slug}}' class='media-anchor-tag'>
								<p class='major-media'>--{{major.media.name}}</p>
								<img src="https://nodastorage.s3.amazonaws.com/media/{{major.media.logo}}" class="media-logo" alt=""/>								
							</a>
						</li>
					{% endfor %}
				</ul>
		</div>
		<div class='bottom-column'>
			<p class='bottom-section-heading'>What's Trending in Right-Wing Media</p>
				<ul class='bottom-link-list'>
					{% for conservative in conservatives %}
						<li>
							<a href='{{conservative.url}}' class='conservative-anchor-tag'>
								<p class='conservative-headline'>{{conservative.title}}</p>
							</a>
							<a href='http://www.nodanews.com/media_dir/{{conservative.media.id}}/{{conservative.media.slug}}' class='conservative-media-anchor-tag'>
								<p class='conservative-media'>--{{conservative.media.name}}</p>
								<img src="https://nodastorage.s3.amazonaws.com/media/{{major.media.logo}}" class="media-logo" alt=""/>								
							</a>
						</li>
						</a>
					{% endfor %}
				</ul>
				<ul class='bottom-link-list'>
			<p class='bottom-section-heading'>What's Trending in Left-Wing Media</p>					
					{% for liberal in liberals %}
						<li>
							<a href='{{liberal.url}}' class='liberal-anchor-tag'>
								<p class='liberal-headline'>{{liberal.title}}</p>
							</a>
							<a href='http://www.nodanews.com/media_dir/{{liberal.media.id}}/{{liberal.media.slug}}' class='liberal-media-anchor-tag'>
								<p class='liberal-media'>--{{liberal.media.name}}</p>
								<img src="https://nodastorage.s3.amazonaws.com/media/{{liberal.media.logo}}" class="media-logo" alt=""/>								
							</a>
						</li>
					{% endfor %}
				</ul>				
		</div>
		
	</div>
	<div id='static-section'>
		<div class='static-column'>
			<h1>Newsletters</h1>
			
		</div>
		<div class='static-column'>
			<h1>Podcasts</h1>
			
		</div>		
		<div class='static-column'>
			<h1>Websites</h1>
			
		</div>
	</div>
	
<script id="dsq-count-scr" src="//nodanews.disqus.com/count.js" async></script>

<div id="disqus_thread"></div>
<script>

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://nodanews.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>    
</body>
</html>


