<!doctype html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109012884-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109012884-1');
</script>
	
<meta charset="utf-8">
<title>Noda News</title>
{% load static  %}
<link rel="image_src" href="{% static 'NN-FB-Pro_pic.png' %}"/> 
<link href="{% static 'css_style_sheets/indexUC.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css_style_sheets/navi.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'favicon.ico' %}" rel='shortcut icon'>
<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  <header>
  	    		<form method="get" action="https://www.google.com/search">
			<input type="hidden" name="sitesearch" value="www.nodanews.com" />
			<input type="text" size="15" name="q" placeholder="Search" />
			<button type="submit"></button>
		</form>
    <nav>
      <a href="http://www.nodanews.com"><img src="{% static 'images/elements/nn_logo_horizontal.svg' %}" alt="" id="logo"></a>
          <img src="{% static 'images/elements/Hamburger_icon.svg.png' %}" alt="" id="burger">
        <ul id='nav-list'>
          <li class='nav-list-item'> <a href="http://www.nodanews.com/media-org-directory">Media Org. Directory</a></li>
          <li class='nav-list-item'><a href="http://www.nodanews.com/archives">Archives</a></li> 
          <li class='nav-list-item'><a href="http://www.nodanews.com/about">About Noda News</a></li>
        </ul>
  	</nav>
</header>
<div id='main'>
<div id='feature'>
    <ul id="main_list">
          {% for feature in features %}
              <li>  
                  <a href="https://www.nodanews.com/sequence/{{feature.id}}/{{feature.slug}}"  target="_blank" class="feature_headline"><p>{{feature.headline}}</p>
                  <img src="https://nodastorage.s3.amazonaws.com/media/{{feature.image}}" class="feature_image"></a>
                  <p class='feature_lead'>{{feature.lead|linebreaksbr}}</p>
                  <p class="feature_updated">Updated: {{feature.date_updated}}</p>
                 
            </li>
          {% endfor %}
      </ul>
</div>
<div id="middle">
      <ul id='middle_list'>
            {% for recent_event in recent_events %}
              <li>  
                  <a href="https://www.nodanews.com/event/{{recent_event.id}}/{{recent_event.slug}}"  target="_blank" class="recent_event_headline"><p>{{recent_event.headline}}</p>
                  <img src="https://nodastorage.s3.amazonaws.com/media/{{recent_event.image}}" class="recent_event_image"></a>
                  <p class='recent_event_lead'>{{recent_event.lead|linebreaksbr}}</p>                  
                  <p class="recent_event_updated">Updated: {{recent_event.date_updated}}</p>

            </li>
          {% endfor %}
      </ul>
</div>
<div id="bottom">
        <ul class='bottom_list'>
            {% for past_event in past_events %}
              <li>  
                  <a href="https://www.nodanews.com/event/{{past_event.id}}/{{past_event.slug}}"  target="_blank" class="past_event_headline"><p>{{past_event.headline}}</p>
                  <img src="https://nodastorage.s3.amazonaws.com/media/{{past_event.image}}" class="past_event_image">
                  </a>
            </li>
          {% endfor %}
      </ul>
      <ul class='bottom_list'>
        <li class="section_title">Commentary</li>
        {% for blog in blogs %}
          <a href="http://www.nodanews.com/blog/{{blog.id}}/{{blog.slug}}" class="link" >  
            <li><span class="blog_headline">{{blog.headline}}</span><br><span class="blog_posted">{{blog.date_posted}}</span></li>
          </a>  
          <hr>          
        {% endfor %}
       </ul> 
      <ul class='bottom_list'>
            <li class="section_title">In Other News</li>
          {% for other_link in other_links %}
            <li>
               <a href="{{other_link.url}}" class="link" target="_blank">
                 <p>{{other_link.title}}</a><br>
                 <a href="http://www.nodanews.com/media_dir/{{other_link.media.id}}/{{other_link.media.slug}}" class="media" target="_blank">{{other_link.media.name}}</a><br>
                 <a href="http://www.nodanews.com/journalist/{{other_link.journalist.id}}/{{other_link.journalist.slug}}" class="journalist" target="_blank">{{other_link.journalist.name}}</a></p>                  
                  {% if other_link.imageQ %}
                  <a href="{{other_link.url}}" target="_blank">
                  <img src="https://nodastorage.s3.amazonaws.com/media/{{other_link.image}}" class="other_link_image">
                  </a>
              {% endif %}   
           </li>          
          {% endfor %}
          </ul>        
      </ul>
</div>
</div>
</body>
</html>