<!doctype html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109012884-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109012884-1');
</script>
	
<meta charset="utf-8">
<title>Noda News</title>
{% load static  %}
<link rel="image_src" href="{% static 'NN-FB-Pro_pic.png' %}"/> 
<link href="{% static 'css_style_sheets/indexUC.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css_style_sheets/navi.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'favicon.ico' %}" rel='shortcut icon'>
<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  <header>
  	    		<form method="get" action="https://www.google.com/search">
			<input type="hidden" name="sitesearch" value="www.nodanews.com" />
			<input type="text" size="15" name="q" placeholder="Search" />
			<button type="submit"></button>
		</form>
    <nav>
      <a href="http://www.nodanews.com"><img src="{% static 'images/elements/nn_logo_horizontal.svg' %}" alt="" id="logo"></a>
          <img src="{% static 'images/elements/Hamburger_icon.svg.png' %}" alt="" id="burger">
        <ul id='nav-list'>
          <li class='nav-list-item'> <a href="http://www.nodanews.com/media-org-directory">Media Org. Directory</a></li>
          <li class='nav-list-item'><a href="http://www.nodanews.com/archives">Archives</a></li> 
          <li class='nav-list-item'><a href="http://www.nodanews.com/about">About Noda News</a></li>
        </ul>
  	</nav>
</header>
  <div id='main'>
    <div id='today'>
      {% for today in todays %}
      <a href='https://www.nodanews.com/fp/{{today.id}}/{{today.slug}}/' class='today-tag'><h1>Check out the News For {{today.title}}</h1>
                      {% if today.featureQ %}
                    <p class='today-feature-headline'>{{today.feature_headline}}</p>
                		<img src="https://nodastorage.s3.amazonaws.com/media/{{today.feature_pic}}" class="today-pic" alt=""/>								
							       {% endif %}
      
      </a>
      {% endfor %}
    </div>
    <div id='front-pages'>
      <h1> Check out the Recent Front Pages</h1>
        <ul id='front-pages-list'>
          {% for front in fronts %}
            <li class='front-page-dates'>
              <a href='https://www.nodanews.com/fp/{{front.id}}/{{front.slug}}' class='front-tag'><p>Front Page News for {{front.title}}</p>
                {% if front.featureQ %}
                    <p class='feature-headline'>{{front.feature_headline}}</p>
                		<img src="https://nodastorage.s3.amazonaws.com/media/{{front.feature_pic}}" class="feature-pic" alt=""/>								
							 {% endif %}
							 
              </a>
            </li>
          {% endfor %}
        </ul>
    </div>
    <div id='bottom'>
      <div id='majors'>
      <h1>Recent Headlines</h1>
        <ul id='majors-list'>
          {% for major in majors %}
            <li class='major-link'>
							<a href='{{major.url}}' class='anchor-tag'>
								<p class='major-headline'>{{major.title}}</p>
							</a>
							<a href='http://www.nodanews.com/media_dir/{{major.media.id}}/{{major.media.slug}}' class='media-anchor-tag'>
								<p class='major-media'>--{{major.media.name}}</p>
								<img src="https://nodastorage.s3.amazonaws.com/media/{{major.media.logo}}" class="media-logo" alt=""/>								
							</a>
            </li>
          {% endfor %}
        </ul>
        </div>
      <div id='events'>
        <h1>Recent Articles</h1>
          <ul id='events-list'>
            {% for recent_event in recent_events %}
              <li class='event-link'>
			            <p class='event-headline'>{{recent_event.headline}}</p>                
              	  <a href='https://www.nodanews.com/event/{{recent_event.id}}/{{recent_event.slug}}/' class='anchor-tag'>
					        <img src="https://nodastorage.s3.amazonaws.com/media/{{recent_event.image1}}" class="event-image" alt=""/>
		          	</a>
		          	  <p class='lead'>{{recent_event.lead}}</p>
              </li>
            
            {% endfor %}
            
          </ul>
      </div>
    </div>
  </div>
</body>
</html>